[submodule "DefineConverter"]
	path = DefineConverter
	url = https://github.com/NNNIC/DefineConverter.git
[submodule "InsertInclude"]
	path = InsertInclude
	url = https://github.com/NNNIC/InsertInclude.git
[submodule "ExcelStateChartConverter"]
	path = ExcelStateChartConverter
	url = https://github.com/NNNIC/ExcelStateChartConverter.git
[submodule "StateViewer"]
	path = StateViewer
	url = https://github.com/NNNIC/StateViewer.git
